body {
  background-image: url(../public/img/home_bg.png);
  background-size: cover;
  background-position: center;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}

.container {
  flex-direction: column;
  justify-content: space-between;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #efeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  opacity: 0.85;
  min-height: 188px;
}

.signin > button > img{
  width: 70px;
  height: 35px;
}

.signin{
  display: flex;
  align-items: center;
}

.top{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.signup {
  background-color: rgb(95, 95, 95);
  min-height: 57px;
  min-width: 114px;
  margin-left: 70%;
  margin-bottom: -550%;
}

.logo {
  font-family: "Orienta";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.87);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

.search_block {
  margin-top: 31px;
  width: 100%;
  min-height: 87px;
  opacity: 0.85;
  border-radius: 0 0 20px 20px;
  font-size: 18px;
  line-height: 40px;
}

.active {
  background: #bcf7d1;
}

footer {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  bottom: 0px;
  background: #efeeee;
  opacity: 0.85;
  flex: 0 1 33.33%;
  border-radius: 20px 20px 0px 0px;
}

@media (min-width: 0px) {
  .container {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex: 0 1 33.33%;
  }
}

@media (min-width: 280px) {
    .container {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex: 0 1 33.33%;
  }
  .header {
    min-height: 188px;
    justify-content: space-between;
    flex: 0 1 33.33%;
  }
  footer {
    height: 81px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  footer {
    min-height: 140px;
    display: flex;
    justify-content: space-between;
  }
}
